<div class="row">
  <div class="col-md-3 col-lg-2 ml-0 pl-0 pt-0 pr-0 border-right left-menu">
    <div class="p-2">
      <h5>
        Suppliers <span class="badge badge-secondary float-right" *ngIf="supplierAddresses.length > 0">{{supplierAddresses.length}}</span>
      </h5>
    </div>
    <div class="list-group mb-5">
      <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" href="#newSupplierAddressModal" (click)="onAddSupplierAddressClick()">Add SupplierAddress</a>
    </div>
    <div class="p-2 border-top"><h5>View</h5></div>
    <div class="px-2">
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewAddressLine1" [(ngModel)]="viewSupplierAddressCheckBoxes.addressLine1">
        <label class="form-check-label" for="viewAddressLine1">
          AddressLine1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewAddressLine2" [(ngModel)]="viewSupplierAddressCheckBoxes.addressLine2">
        <label class="form-check-label" for="viewAddressLine2">
          AddressLine2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewPinCode" [(ngModel)]="viewSupplierAddressCheckBoxes.pinCode">
        <label class="form-check-label" for="viewPinCode">
          PinCode
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCity" [(ngModel)]="viewSupplierAddressCheckBoxes.city">
        <label class="form-check-label" for="viewCity">
          City
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewState" [(ngModel)]="viewSupplierAddressCheckBoxes.state">
        <label class="form-check-label" for="viewState">
          State
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCreatedOn" [(ngModel)]="viewSupplierAddressCheckBoxes.createdOn">
        <label class="form-check-label" for="viewCreatedOn">
          Created On
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewLastModifiedOn" [(ngModel)]="viewSupplierAddressCheckBoxes.lastModifiedOn">
        <label class="form-check-label" for="viewLastModifiedOn">
          Last Modified On
        </label>
      </div>
      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1" (click)="onViewSelectAllClick()">Select All</button>
        <button class="btn btn-secondary btn-sm" (click)="onViewDeselectAllClick()">Deselect All</button>
      </div>
    </div>

    <div class="p-2 border-top mt-4"><h5>Sort by</h5></div>
    <div class="px-2">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="sortBy">
          <option value="addressLine1">AddressLine1</option>
          <option value="addressLine2">AddressLine2</option>
          <option value="pinCode">PinCode</option>
          <option value="city">City</option>
          <option value="state">State</option>
          <option value="creationDateTime">Created On</option>
          <option value="lastModifiedDateTime">Last Modified On</option>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortAscending" value="ASC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortAscending">
          Ascending
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortDescending" value="DESC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortDescending">
          Descending
        </label>
      </div>
      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1 px-3" (click)="onBtnSortClick()">Sort</button>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-lg-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          SupplierAddress
          <i class="fa fa-circle-o-notch  fa-spin" *ngIf="showSupplierAddressSpinner"></i>
        </li>
      </ol>
    </nav>

    <table class="table mt-2">
      <thead>
        <tr class="table-secondary">
          <th *ngIf="viewSupplierAddressCheckBoxes.addressLine1">AddressLine1</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.addressLine2">AddressLine2</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.pinCode">PinCode</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.city">City</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.state">State</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.createdOn">Created on</th>
          <th *ngIf="viewSupplierAddressCheckBoxes.lastModifiedOn">Last Modified on</th>
          <th class="text-secondary">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplierAddress of supplierAddresses; let index = index">
          <td *ngIf="viewSupplierAddressCheckBoxes.addressLine1">{{supplierAddress.addressLine1}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.addressLine2">{{supplierAddress.addressLine2}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.pinCode">{{supplierAddress.pinCode}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.city">{{supplierAddress.city}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.state">{{supplierAddress.state}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.createdOn">{{supplierAddress.creationDateTime}}</td>
          <td *ngIf="viewSupplierAddressCheckBoxes.lastModifiedOn">{{supplierAddress.lastModifiedDateTime}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-secondary" data-toggle="modal" data-target="#editSupplierAddressModal" (click)="onEditSupplierAddressClick(index)">Edit</button>
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteSupplierAddressModal" (click)="onDeleteSupplierAddressClick(index)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- New Supplier Modal -->
<form [formGroup]="newSupplierAddressForm">
  <div class="modal fade" id="newSupplierAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Add Supplier Address</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group form-row">
            <label for="addressLine1" class="col-form-label col-md-4">AddressLine1:</label>
            <div class="col-md-8">
              <input type="text" placeholder="addressLine1" class="form-control" id="addressLine1" formControlName="addressLine1" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('addressLine1'), editSupplierAddressForm)" />
              <small class="form-text text-muted">supplier AddressLine 1 | Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine1', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine1', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'pattern')}}</span>
            </div>
          </div>


          <div class="form-group form-row">
            <label for="addressLine2" class="col-form-label col-md-4">AddressLine2:</label>
            <div class="col-md-8">
              <input type="text" placeholder="addressLine2" class="form-control" id="addressLine2" formControlName="addressLine2" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('addressLine2'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> supplier AddressLine 2| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine2', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine2', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'pattern')}}</span>
            </div>
          </div>


          <div class="form-group form-row">
            <label for="pinCode" class="col-form-label col-md-4">PinCode:</label>
            <div class="col-md-8">
              <input type="text" placeholder="pinCode" class="form-control" id="pinCode" formControlName="pinCode" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('pinCode'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('pinCode', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('pinCode', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('pinCode', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('pinCode', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="city" class="col-form-label col-md-4">City:</label>
            <div class="col-md-8">
              <input type="text" placeholder="city" class="form-control" id="city" formControlName="city" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('city'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('city', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('city', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('city', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('city', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="state" class="col-form-label col-md-4">State:</label>
            <div class="col-md-8">
              <input type="text" placeholder="state" class="form-control" id="state" formControlName="state" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('state'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('state', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('state', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('state', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('state', 'pattern')}}</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnAddSupplierAddressCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onAddSupplierAddressClick($event)" [disabled]="newSupplierAddressDisabled">
            <span *ngIf="!newSupplierAddressDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="newSupplierAddressDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- Edit Supplier Address Modal -->
<form [formGroup]="editSupplierAddressForm">
  <div class="modal fade" id="editSupplierAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Update Supplier Address</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          

          <div class="form-group form-row">
            <label for="addressLine1" class="col-form-label col-md-4">AddressLine1:</label>
            <div class="col-md-8">
              <input type="text" placeholder="addressLine1" class="form-control" id="addressLine1" formControlName="addressLine1" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('addressLine1'), editSupplierAddressForm)" />
              <small class="form-text text-muted">supplier AddressLine 1 | Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine1', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine1', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="addressLine2" class="col-form-label col-md-4">AddressLine2:</label>
            <div class="col-md-8">
              <input type="text" placeholder="addressLine2" class="form-control" id="addressLine2" formControlName="addressLine2" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('addressLine2'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> supplier AddressLine 2| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine2', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('addressLine2', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('addressLine1', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="pinCode" class="col-form-label col-md-4">PinCode:</label>
            <div class="col-md-8">
              <input type="text" placeholder="pinCode" class="form-control" id="pinCode" formControlName="pinCode" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('pinCode'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('pinCode', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('pinCode', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('pinCode', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('pinCode', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="city" class="col-form-label col-md-4">City:</label>
            <div class="col-md-8">
              <input type="text" placeholder="city" class="form-control" id="city" formControlName="city" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('city'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('city', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('city', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('city', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('city', 'pattern')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="state" class="col-form-label col-md-4">State:</label>
            <div class="col-md-8">
              <input type="text" placeholder="state" class="form-control" id="state" formControlName="state" [ngClass]="getFormControlCssClass(editSupplierAddressForm.get('state'), editSupplierAddressForm)" />
              <small class="form-text text-muted"> pinCode| Can't be blank.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('state', 'required', editSupplierAddressForm)">{{getFormControlErrorMessage('state', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('state', 'pattern', editSupplierAddressForm)">{{getFormControlErrorMessage('state', 'pattern')}}</span>
            </div>
          </div>




          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnUpdateSupplierAddressCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onUpdateSupplierAddressClick($event)" [disabled]="editSupplierAddressDisabled">
            <span *ngIf="!editSupplierAddressDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="editSupplierAddressDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- Delete Supplier Modal -->
<form [formGroup]="deleteSupplierAddressForm">
  <div class="modal fade" id="deleteSupplierAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Delete Supplier Address</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="mb-4">Are you sure to delete this Supplier Address?</h5>
          <div class="form-group form-row">
            <label for="addressLine1" class="col-form-label col-md-4">Address Line1:</label>
            <div class="col-md-8">
              <input type="text" placeholder="AddressLine1" readonly="readonly" class="form-control-plaintext" id="addressLine1" formControlName="addressLine1" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnDeleteSupplierAddressCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-danger" (click)="onDeleteSupplierConfirmClick($event)" [disabled]="deleteSupplierDisabled">
            <span *ngIf="!deleteSupplierAddressDisabled"><i class="fa fa-save"></i> Delete</span>
            <span *ngIf="deleteSupplierAddressDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Deleting</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>




